<div class="jumbotron center">
	<h1>Welcome to my app</h1>
	<p>
		<%= link_to "log In", "http://www.google.com.sg", class: "btn btn-default btn-lg"%>
		<%= link_to "Sign up", "http://www.google.com.sg", class: "btn btn-primary btn-lg"%>
	</p>
</div>